{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}