{% extends 'base.html.twig' %}

{% block body %}
    <a id="create" href="{{ path('users_create') }}">Создать</a>
    <table id="list" border="1" width="100%">
        <tr>
            <td>ID</td>
            <td>ИМЯ</td>
            <td>ДЕЙСТВИЯ</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
                <a href="{{ path('users_edit', {'id': user.id}) }}" class="edit">Редактировать</a>
                <a href="{{ path('users_delete', {'id': user.id}) }}" class="edit">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
